# Java / Spring Boot
target/
*.class
*.jar
*.war

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Local database files
*.db
*.sqlite
*.sqlite3

# Environment / secrets
.env
.env.*
*.key

# Logs
*.log


# Secrets
src/main/resources/application.properties